<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>-[HomeWork1Tests testImpossibleToCreateNUllCash].xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>-[YMoneyTests testImpossibleToCreateNullBalance].xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>All in HomeWork1Tests.m.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>All in HomeWork1Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HomeWork1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>YMoney 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>YMoney.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36EBC1988E84CEE77EF1FFB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36EBCDB9B3A5AD0AA8AD9F1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36EBCF25253588D21457D3BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE011B1A1BE56BE100D820A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
